<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>jquery.tree-multiselect</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../bootstrap/css/jquery.tree-multiselect.min.css" rel="stylesheet" />
    <link href="../../bootstrap/css/style.min.css" rel="stylesheet" />
    <style>
        .rightSize {
            margin-right: 5px;
        }
        body {
            padding: 20px;
        }
        #treeSelectTable {
            width: 80%;
        }
        #treeSelectTable tr th,#treeSelectTable tr td {
            text-align: center;
        }
    </style>
</head>
<body class="gray-bg2">
    <div class="wrapper wrapper-content"  id="statisipDataArea">
        <div id="statisipArea" class="">
            <h3>角色管理</h3>
            <table id="treeSelectTable" class="table table-striped table-bordered">
                <thead>
                    <tr><td>序号</td><td>角色编号</td><td>角色名称</td><td>角色描述</td><td>操作</td></tr>
                </thead> 
                <tbody id="treeSelectBody">
                    
                </tbody>
            </table> 
        </div>
     
 
    </div>
 
     <!--给用户分配角色modal-->
 
<div class="modal inmodal fade" id="grantAuthorityModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
       
	<div class="modal-dialog">
         
		<div class="modal-content animated fadeIn">
   
			<div class="modal-header btn-primary">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">关闭</span>
         
				</button>
                  
				<h4 class="modal-title" id="AuthorityTitle"></h4>
    
			</div>
              
			<div class="modal-body" id="authorityBody">	
			
					
			</div>
             
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    
				<button type="button" class="btn btn-primary" id="authoritysubmit">提交</button>
        
			</div>
        
		</div>
    
	</div>
  
</div>


<script id="treeSelect-template" type="text/x-dot-template">

  <tr>
    <td><%= it.i %></td>
	<td><%= it.roleid %></td>
    <td><%= it.rolename %></td>
    
    <td><%= it.roleDescription %></td>
    <td> 
      
      <button id="selectPower" class="btn btn-primary btn-sm grantAuthorityBtn rightSize" type="button"  >
		 修改权限
		</button>
    </td>
  </tr>
</script>
   
    
    <script src="../../bootstrap/jquery/jquery.min.js"></script>
    <script src="../../bootstrap/jquery/jquery-ui.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../bootstrap/js/jquery.tree-multiselect.min.js"></script>
    <script src="../../bootstrap/js/doT.js"></script>
    
    <script>
		var MoniterIndex = function(config) {
    var self = this;
   
    var showTreeSelectData = function () {
        $.ajax({
            url: '/P2P/back/queryRoleTable.do',
            method: 'post',
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
            	
                var datas = {};
                for (var i = 0; i < data.length; i++) {
                	//alert(0);
                    datas.i = i+1;
                    datas.roleid=data[i].ROLEID;
                    datas.rolename = data[i].ROLENAME;                    
                    datas.roleDescription = data[i].DESCRIBEROLE;
                    var source = $("#treeSelect-template").html();
                    var template = doT.template(source);
                    var htmlstr = template(datas);
                    $("#treeSelectBody").append(htmlstr);
                }

            },
            error: function (res) {
                console.log(res);
            }
        });
    }

    self.initData = function () {
        showTreeSelectData(); 
    }
   
}


$(function() {
    window.monitorIndex = new MoniterIndex();
    monitorIndex.initData();
    
});


$(function () {
    $("#treeSelectBody").on('click', '.grantAuthorityBtn', function (){
       var rolename = $(this).parents('tr').find('td').eq(2).text();
       
       roleid=$(this).parents('tr').find('td').eq(1).text();
        
         var html ='<select id="authorifyselect" multiple="multiple">' +
        '<option  id="" value="42" data-section="人员管理" >用户管理</option>' +
        
        '<option  value="44" data-section="人员管理">角色管理</option>' +
        '<option  value="45" data-section="人员管理">角色权限管理</option>' +           
        
        '<option  value="9" data-section="项目管理">在线项目</option>' +
        '<option  value="10" data-section="项目管理">个人项目</option>' +
        '<option  value="11" data-section="项目管理">机构项目</option>' +
        '<option  value="12" data-section="项目管理">审核通过</option>' +
        '<option  value="13" data-section="项目管理">审核未通过</option>' +
        '<option  value="65" data-section="项目管理">项目查询</option>' +
       
        '<option  value="57" data-section="统计查询">项目统计</option>' +
        
		  '<option  value="59" data-section="统计查询">资金统计</option>' +
		  
		
            
        '<option  value="15" data-section="资金管理">项目筹资管理</option>' +
		  '<option  value="16" data-section="资金管理">资金流向管理</option>' +
		  '<option  value="17" data-section="资金管理">平台资金管理</option>' +
		  '<option  value="18" data-section="资金管理" id="aaa">项目资金发放</option>' +
		  '<option  value="60" data-section="资金管理" id="bbb">盈利资金</option>' +
		  
		  '<option  value="64" data-section="用户交易">交易记录</option>'+
		   
                  '</select>'; 
        $("#authorityBody").empty().append(html);
        //$(".selections .section .item input")..removeAttr('checked');
        $("#AuthorityTitle").text("给 " + rolename + " 分配权限"); 
        $("#authorifyselect").treeMultiselect({ searchable: true, hideSidePanel: true });
        $("#grantAuthorityModal").modal('show');
       var data={};
       data["rolename"]=rolename;
        $.ajax({						
    		type:"post",
    		dataType:"json",
    		url:"/P2P/login/powers.do",
    		data:JSON.stringify(data),
    		contentType:"application/json;charset=UTF-8",
    		success:function(data){	
    			 $.each(data,function(index,value){
    				$(".selections .section .item[data-value='"+value.POWERSID+"'] input").trigger("click");
    			}) 
    			
    		}					
    		
    	});
    });
})
var roleid=0;
$("#selectPower").click(function(){


	/*  */
});
$("#authoritysubmit").click(function(){
	
	var employee=0;
	var project=0;
	var captial=0;
	var money=0;
	var users=0;
	var data={};
	
	var arry=new Array();
	$("option").each(function(){ 		
		if($(this).is(":checked")){
			if($(this).val()==9||$(this).val()==10||$(this).val()==11||$(this).val()==12||$(this).val()==13||$(this).val()==65){
				var json={};
				project=8;
				json["powersid"]=parseInt($(this).val());
				json["roleid"]=parseInt(roleid);
				arry[arry.length]=json;
				//alert(JSON.stringify(data))
			}
			if($(this).val()==15||$(this).val()==16||$(this).val()==17||$(this).val()==18||$(this).val()==60){
				captial=14;
				var json={};
				json["powersid"]=parseInt($(this).val());
				json["roleid"]=parseInt(roleid);
				arry[arry.length]=json;		
			}
			if($(this).val()==42||$(this).val()==43||$(this).val()==44||$(this).val()==45){
				employee=41;
				var json={};
				json["powersid"]=parseInt($(this).val());
				json["roleid"]=parseInt(roleid);
				arry[arry.length]=json;		
			}	
			if($(this).val()==57||$(this).val()==58||$(this).val()==59){
				money=56;
				var json={};
				json["powersid"]=parseInt($(this).val());
				json["roleid"]=parseInt(roleid);
				arry[arry.length]=json;			
			}	 
			if($(this).val()==64){
				users=63;
				var json={};
				json["powersid"]=parseInt($(this).val());
				json["roleid"]=parseInt(roleid);
				arry[arry.length]=json;			
			}	 
		} 
		 
		
	});
	if(project>0){
		var json={};
		json["powersid"]=parseInt(project);
		json["roleid"]=parseInt(roleid);
		 arry[arry.length]=json;
	 }
	 if(captial>0){
		 var json={};
		 json["powersid"]=parseInt(captial);
		 json["roleid"]=parseInt(roleid);
		 arry[arry.length]=json;
	 }
	 if(employee>0){
		 var json={};
		 json["powersid"]=parseInt(employee);
		 json["roleid"]=parseInt(roleid);
		 arry[arry.length]=json;
	 }
	 if(money>0){
		 var json={};
		 json["powersid"]=parseInt(money);
		 json["roleid"]=parseInt(roleid);
		 arry[arry.length]=json;
	 }
	 if(users>0){
		 var json={};
		 json["powersid"]=parseInt(users);
		 json["roleid"]=parseInt(roleid);
		 arry[arry.length]=json;
	 }
	data["powersid"]=arry;
	data["roleid"]=roleid;
	 //alert(JSON.stringify(data));
	
	
	$.ajax({
		type:"post",
		dataType:"json",
		url:"/P2P/login/insertpowers.do",
		data:JSON.stringify(data),
		contentType:"application/json;charset=UTF-8",
		success:function(data){	
			if(data==-1){
				alert("修改成功");
			}else{
				alert("修改十遍");
			}					
		}		
	});
});
	</script>
	
</body>

</html>

